<!DOCTYPE html>
<html>
  
<head>
    <meta charset="utf-8" />
    <script src=
"https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js">
    </script>
    
</head>
  
<body>
    <div id="app-vue">
        <div class="users">
            <div v-if="errored">
                <p>
                    We're sorry, we're not able to 
                    retrieve this information at the 
                    moment, please try back later
                </p>
            </div>
  
            <div v-else>
                <h4 v-if="loading">
                    Loading...
                </h4>





    <input type="text" v-model="name" /> <br />
  <input type="text" v-model="email" /> <br />
  <input type="number" v-model="idade" /> <br />
<button   @click="readFormData()" >teste</button>





                  <div v-for="post in posts" 
                    :key="post.id">
                    <h1>{{post.nome}} - {{post.email}} - {{post.idade}}</h1>
                </div>
                
            </div>
        </div>
    </div>
  
    <script>
        new Vue({
            el: '#app-vue',

            data() {
                return {
                    posts: null,
                    loading: false,
                    errored: false
                }
            },

            created() { 
  
                // Creating loader
                this.loading = true;
                this.posts = null
  
                axios.get(
                  `http://localhost:3301/cliente`)
                    .then(response => {
  
                        // JSON responses are 
                        // automatically parsed
                        this.posts = response.data
                        this.loading = false
                    })
  
                    // Dealing with errors
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
            },

    //         methods: {
    // greet: function (event) {
    //   // `this` inside methods point to the Vue instance
    //   alert('Hello ' + this.name + '!')
    //   // `event` is the native DOM event
    //   alert(event.target.tagName)
    
    // }

            methods: {
              readFormData: function() {
               console.log('passou aqui')
               let formData = {};
               formData["nome"] = document.getElementById("nome").value;
               formData["sobrenome"] = document.getElementById("sobrenome").value;
               formData["cpf"] = document.getElementById("cpf").value;
               formData["tel"] = document.getElementById("tel").value;
               formData["marca"] = document.getElementById("marca").value;
               axios.post(
                  `http://localhost:3301/cliente`, formData)
                    .then(response => {
  
                        // JSON responses are 
                        // automatically parsed
                        this.posts = response.data
                        this.loading = false
                        alert('funcionando')
                    })
  
                    // Dealing with errors
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                
              }
            }
        });
    </script>
</body>
  
</html>